@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:var(--font-family);
    font-size: 1.2rem;
}
h1,h2,p,button{
    font-family: var(--hs-p-font-family);
}
/* || VARIABLES|| */
:root{
    --font-family:'Montserrat Alternates' ,sans-serif;
    --hs-p-font-family: 'playfair display', serif;
    --list-style: none;
    --font-size: 1.5rem;
    --gap: 40px;
    --nav-background-color: rgba(127, 255, 212, 0.336);
    --btn-color:   rgb(70, 173, 139);
    --text-decoration: none;

}
.nav-bar{
    position:fixed;
    background-color: rgba(127, 255, 212, 0.336);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    outline: none;
 
}

.nav-ul1{
    display: flex;
    justify-content: space-around;
    align-items: inherit;
    font-size: var(--font-size);
    list-style: var(--list-style);
    gap: 10px;

    
} 
.nav-ul1 a{
        text-decoration: var(--text-decoration);
     
        color: black;
}
.oneTouch{
    display: block;
}
.nav-ul1 small{
    font-size: 1rem;
}

.nav-ul2{
    display: flex;
    justify-content: space-around;
    align-items: inherit;
       list-style: var(--list-style);
       gap: var(--gap);
       font-size: var(--font-size);
    
}
.nav-ul2 a{
    text-decoration: var(--text-decoration);
    color: black;
}
.nav-ul2-select{
    border: none;
    background-color: var(--nav-background-color);
    font-size: var(--font-size);
    outline: none;
}

.nav-ul3{
    display: flex;
    justify-content: space-around;
    align-items: inherit;
       list-style: var(--list-style);
       gap: var(--gap);
       
} 
.nav-ul3 img{
    height: 20px;
}
.main-section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 140px 20px 0 20px;
    /* gap: 40px; */
}
.main-section1-div1{
    /* margin-top: 150px; */

}
.main-section1-div1 h1{
    color: rgb(70, 173, 139);
    margin-top: 15px;
    font-size: 3rem;
}
.main-section1-div1 p{
        color: rgba(13, 14, 13, 0.822);
        line-height: 2rem;

}
.main-section1-div1-button{
    margin-top: 10px;
    background-color: var(--btn-color);
    padding: 13px;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 50%;
    outline-style: none;
    font-size: var(--font-size);
}
.main-section1-div2 {
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
}
/* .image-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
} */
.main-section1-div2-images{
    height: 250px;
    border-radius: 5px;
    margin: 10px;
}
/* section2 */
.main-section2{
    background-color: var(--nav-background-color);
    margin-top: 70px;
  
}
.main-section2-div1{
    background-color: rgba(0, 128, 0, 0.829);
    
    display: flex;
    margin: 0 40px;
    margin-top: 20px;
   
    border-radius: 15px;
     height: 100%;
    
    align-items: center;
    justify-content: space-evenly;
 
 
    

}
.main-section2 h2{
    color: rgba(20, 20, 20, 0.623);
    margin-left: 40px;
}
.main-section2-div1-images img{
    /* object-fit:cover ; */
    display: flex;
    height: 200px;
    padding: 20px;
    width: 100%;
    
}

/* || */
    .main1{
            background-color: red;
            padding: 20px;
            display: block;
           margin: 100px 0 0 0;
           display: flex;
            left: 50%;
            justify-content: space-evenly;
            


        }
        body{
            height: 100vh;
        }
        .imgClass{
            box-shadow:100px;
            background-color: white;
            padding: 060px;
              border-radius: 5px 10px;
              box-shadow: 3px 2px 2px 2px #4A3D3E;



        }
        .cedis1{
                position: relative;
                top: -57px;
                margin-left: 85px;
                background-color: blue;
                width: fit-content;
                border-radius: 4px;
                padding: 4px;
        }
        .cedis2{
               position: relative;
                top: -73px;
                margin-left: 20px;
                background-color: blue;
                width: fit-content;
                border-radius: 4px;
                padding: 4px;
        }
        .cedis3{
               position: relative;
                top: -73px;
                margin-left: 260px;
                background-color: blue;
                width: fit-content;
                border-radius: 4px;
                padding: 4px;
        }
        .cedis2{
               position: relative;
                top: -73px;
                margin-left: 260px;
                background-color: blue;
                width: fit-content;
                border-radius: 4px;
                padding: 4px;
        }